// $fontFamily: "FreightSans"  !default;
$fontFamily: "DIN Next LT Pro" !default;

$font-size-base: 16px !default; 
$button-height: 20px !default
$line-height-base: 1.25;

// $h1: 1.75rem !default;
// $h2: 1.33rem !default;
// $h3: 1.33rem !default;
// $h4: 1rem !default;
// $h5: 0.9rem !default;

$font-size-base-legacy: 14px !default;

$font-size-h1-legacy: ($font-size-base-legacy * 2.074) !default;
$font-size-h2-legacy: ($font-size-base-legacy * 1.728) !default;
$font-size-h3-legacy: ($font-size-base-legacy * 1.44) !default;
$font-size-h4-legacy: ($font-size-base-legacy * 1.2) !default;
$font-size-h5-legacy: $font-size-base-legacy !default;
$font-size-h6-legacy: ($font-size-base-legacy * 0.833) !default;

$hugeFontSize: 1.75em !default;
$largeFontSize: 1.33em !default;
$mediumFontSize: 1.33em !default;
$smallFontSize: 1em !default;
$tinyFontSize: 0.9em !default;

// $fontFamily-base: "DIN Next LT Pro" !default;
// $fontFamily-base: "DIN-Regular" !default;
// $fontFamily-base: "DIN-Light" !default;


