$CommonMeta-label-letterSpacing: .045em;
$CommonMeta-label-size: 13px;
$CommonMeta-label-weight: 500;
$CommonMeta-label-color: #949494;
$CommonMeta-value-size: 15px;
$CommonMeta-value-weight: 500;
$CommonMeta-value-color: #3D3D3D; // TODO: config