@import '_base.theme.config.scss';

$color-blueGreen: #0092BF;
$color-electricBlue: hsl(215, 84%, 49%);
$color-neutralBlue: #4868AB;
$color-neutralGreen: #649498;
$color-brightGreen: #78DDDD;
$color-brightGreen-text: darken($color-brightGreen, 20%);

$app-color-highlightBlue: $color-electricBlue;

$app-color-panel-top: #fff; // Replace
$app-color-panel-b1: #f8fafa; // Replace
$app-color-panel-b2: #eeeff0; // Replace

$app-color-correctionRequest: #f09d43; // redundant

$UtilityItems-paddingV: 14px;
$UtilityItems-paddingH: 18px;

// Mixins
@import 'common.mixins.scss';

@import 'compatibility.scss';

@import 'CommonMeta.config.scss';
