@import '_base.theme.config.scss';

$app-color-blueGreen: #0092BF;
$app-color-electricBlue: hsl(215, 84%, 49%);
$app-color-neutralBlue: #4868AB;
$app-color-neutralGreen: #649498;
$app-color-brightGreen: #78DDDD;
$app-color-brightGreen-text: darken($app-color-brightGreen, 20%);

$app-color-panel-top: #fff; // Replace
$app-color-panel-b1: #f8fafa; // Replace
$app-color-panel-b2: #eeeff0; // Replace

$app-color-correctionRequest: #f09d43; // redundant

$UtilityItems-paddingV: 14px;
$UtilityItems-paddingH: 18px;

// Mixins
@import 'common.mixins.scss';

@import 'compatibility.scss';

@import 'CommonMeta.config.scss';
