<md-toast>
  <md-toast-content class="md-toast-content md-toast-content--bigToast">
    <div class="BigToast">
      <div class="BigToast-header">
        <!-- <div class="BigToast-header-item">
          <div class="BigToast-header-icon">
            <get-svg name="checkmarkCircle"></get-svg>
          </div>
        </div> -->
        <div class="BigToast-header-item">
          <div class="BigToast-heading">
            <h2 class="u-headingInherit">All corrections processed</h2>
          </div>
        </div>
        <div class="BigToast-header-item--close">
          <div class="BigToast-closeButton" role="button" ng-click="closeToast()">&times;</div>
        </div>
      </div>
  
      <div class="BigToast-body">
        <!-- If you are finished, you must <strong>complete the Review process</strong> to unlock the submission, and notify the applicant of the reopened correction requests. -->
        If you are finished, you may <strong>complete the Review process</strong> to unlock the submission and allow it to be processed further.
      </div>
  
      <div class="BigToast-footer">
        <div class="BigToast-footer-action">
          <md-button class="md-highlight" ng-click="openMoreInfo($event)">
            Complete Review
          </md-button>
        </div>
      </div>
  
    </div>
  </md-toast-content>
</md-toast>