<md-toast>
  <md-toast-content class="md-toast-content md-toast-content--bigToast">
    <div class="BigToast">
      <div class="BigToast-header">
        <div class="BigToast-header-item">
          <div class="BigToast-header-icon">
            <get-svg name="checkmarkCircle"></get-svg>
          </div>
        </div>
        <div class="BigToast-header-item">
          <div class="BigToast-heading">
            <h2 class="u-headingInherit">Corrections complete</h2>
          </div>
        </div>
        <div class="BigToast-header-item--close">
          <div class="BigToast-closeButton" role="button" ng-click="closeToast()">&times;</div>
        </div>
      </div>
  
      <div class="BigToast-body">
        To resubmit this form with your included corrections, please proceed through the <strong>Review</strong> step, and resubmit in <strong>Certify & Submit</strong>.
      </div>
  
      <div class="BigToast-footer">
        <div class="BigToast-footer-action">
          <md-button class="md-highlight" ng-click="openMoreInfo($event)">
            Proceed to Review
          </md-button>
        </div>
      </div>
  
    </div>
  </md-toast-content>
</md-toast>