<div class="CollapseContainer">
	<div class="CollapseContainer-control">
		<button class="CollapseContainer-button" ng-class="{'CollapseContainer-button--is-expanded': $ctrl.isExpanded}" ng-click="$ctrl.toggle()">
			<div class="CollapseContainer-arrow SvgWrap SvgWrap--stroke">
				<svg class="SvgWrap-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px"
				 height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
					<polyline fill="none" stroke="inherit" stroke-miterlimit="10" points="6,2 12,8 6,14 " />
				</svg> 
			</div>
		</button>
		<div class="CollapseContainer-heading" ng-transclude="collapseContainerHeading" ng-click="$ctrl.toggle()"></div>
	</div>
	<div class="CollapseContainer-content" ng-transclude="collapseContainerContent" ng-if="$ctrl.isExpanded"></div>
</div>