<div 
	inline-edit-wrap-element
	class="InlineEditWrap"
	role="button"
	tabindex="0"
	ng-class="{'InlineEditWrap--is-editing' : $ctrl.isEditing}"
	ng-style="{'height': $ctrl.fixedHeight, 'width': $ctrl.fixedWidth}"
	ng-click="$ctrl.enableEdit($event)">
	<!-- <md-input-container class="InlineEditWrap-inputContainer" ng-show="$ctrl.isEditing"> -->
		<!-- <input id="inlineEditInput" ng-model="$ctrl.inputModel" ng-blur="$ctrl.onBlur($event)" ng-keydown="$ctrl.onKeyDown" ng-style="{'height': $ctrl.height + 'px', 'min-width': $ctrl.width + 'px'}"/> -->
	<input id="inlineEditInput"
		class="InlineEdit-input"
		ng-show="$ctrl.isEditing"
		ng-model="$ctrl.inputModel"
		ng-blur="$ctrl.onBlur($event)"
		ng-keydown="$ctrl.onKeyDown($event)"/>
	<!-- </md-input-container> -->
	<span class="InlineEdit-value"
		ng-if="$ctrl.hasTranscludedContent"
		ng-class="{'InlineEdit-element--is-hidden': $ctrl.isEditing}"
		ng-transclude></span>
	<span class="InlineEdit-value"
		ng-if="!$ctrl.hasTranscludedContent"
		ng-class="{'InlineEdit-element--is-hidden': $ctrl.isEditing}"
		ng-bind="$ctrl.value"></span>
	<div class="InlineEdit-icon" ng-class="{'InlineEdit-element--is-hidden': $ctrl.isEditing}">
		<get-static-assets-svg name="pencil"></get-static-assets-svg>
	</div>
</div>