<md-dialog>
  <div class="ModalSelectMenu">
    <div class="ModalSelectMenu-header">
      <div class="ModalSelectMenu-header-row">
        <div class="ModalSelectMenu-title">
          {{title}}
        </div>
        <button class="ModalSelectMenu-closeButton" ng-click="close()">&times;</button>
      </div>
      <div class="ModalSelectMenu-header-row">
        <input class="ModalSelectMenu-filterBox" ng-model="stringFilter" />
      </div>
    </div>
    <div class="ModalSelectMenu-list" modal-select-menu-list>
      <div class="ModalSelectMenu-list-inner">
        <button class="ModalSelectMenu-item" ng-repeat="item in displayedItems" ng-click="selectItem(item)" ng-class="{'ModalSelectMenu-item--is-active': itemIsSelectedFn(item)}">
          {{itemDisplayFn ? itemDisplayFn(item) : item}}
        </button>
      </div>
    </div>
  </div>
</md-dialog>
