<md-dialog>
  <div class="ModalSelectMenu">
    <div class="ModalSelectMenu-header">
      <div class="ModalSelectMenu-title">
        {{title}}
      </div>
      <button class="ModalSelectMenu-closeButton" ng-click="close()">&times;</button>
    </div>
    <div class="ModalSelectMenu-list">
      <button class="ModalSelectMenu-item" ng-repeat="item in items" ng-click="selectItem(item)" ng-class="{'ModalSelectMenu-item--is-active': itemIsSelectedFn(item)}">
        {{itemDisplayFn ? itemDisplayFn(item) : item}}
      </button>
    </div>
  </div>
</md-dialog>
