<!-- <div class="md-dialog-container" id="{{$ctrl.dialogId}}"> -->
  <md-dialog>
    <div class="ModalSelectMenu">
      <div class="ModalSelectMenu-header">
        <div class="ModalSelectMenu-title">
          Reassign
        </div>
        <button class="ModalSelectMenu-closeButton" ng-click="$mdDialog.hide()">&times;</button>
      </div>
      <div class="ModalSelectMenu-list">
        <button class="ModalSelectMenu-item" ng-repeat="user in users" ng-click="selectUser(user)" ng-class="{'ModalSelectMenu-item--is-active': isAssigned(user)}">
          {{user.username}}
        </button>
      </div>  
    </div>
  </md-dialog>
<!-- </div> -->