<ul class="StepSegments">
	<li class="StepSegment"
		ng-repeat="segment in $ctrl.segments"
		ng-class="{'StepSegment--is-complete': segment.isCompleted, 'StepSegment--is-active': $ctrl.activeIndex === $index}"
		ng-mouseenter="$ctrl.onMouseEnter($index)"
		ng-mouseleave="$ctrl.onMouseLeave($index)"
		ng-focus="$ctrl.onFocus($index)"
		ng-blur="$ctrl.onBlur($index)">
		<span class="Chip Chip--small Chip--noWrap" ng-if="$ctrl.activeIndex === $index">
			{{$ctrl.activeIndex + 1}} of {{$ctrl.segments.length}}
		</span>
	</li>
</ul>
<div ng-transclude="content" class="StepSegments-contentFrame StepSegments-contentFrame--noPadding"></div>