<div class="Stepheader-more">
	<md-menu>
		<button class="IconButton SvgWrap" ng-click="$mdMenu.open($event)">
			<svg class="SvgWrap-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20"
				style="enable-background:new 0 0 20 20;" xml:space="preserve">
				<g>
					<g>
						<path d="M5,8.9c-0.9,0-1.6,0.7-1.6,1.6C3.5,11.3,4.2,12,5,12s1.6-0.7,1.6-1.6C6.6,9.6,5.9,8.9,5,8.9z" />
					</g>
					<g>
						<path
							d="M10.3,8.9c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6c0.9,0,1.6-0.7,1.6-1.6C11.8,9.6,11.1,8.9,10.3,8.9z" />
					</g>
					<g>
						<path
							d="M15.6,8.9c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6c0.9,0,1.6-0.7,1.6-1.6C17.1,9.6,16.4,8.9,15.6,8.9z" />
					</g>
				</g>
			</svg>
		</button>
		<md-menu-content>
			<md-menu-item>
				<md-button ng-click="complete()">Mark Complete</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button ng-click="$ctrl.reassign($event, $ctrl.step)">Reassign</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button ng-click="delete()">Delete</md-button>
			</md-menu-item>
		</md-menu-content>
  </md-menu>
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="{{$ctrl.reassignDialogId}}">
      <md-dialog>
        <div class="BigSelectMenu">
					<div class="BigSelectMenu-header">
						<div class="BigSelectMenu-title">
							Reassign
						</div>
						<button class="BigSelectMenu-closeButton" ng-click="$mdDialog.hide()">&times;</button>
					</div>
					<div class="BigSelectMenu-list">
						<button class="BigSelectMenu-item" ng-repeat="user in $ctrl.users" ng-click="selectUser(user)" ng-class="{'BigSelectMenu-item--is-active': $ctrl.isAssigned(user)}">
							{{user.username}}
						</button>
					</div>
        </div>
      </md-dialog>
    </div>
  </div>
</div>