<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Submission sandbox</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      svg {
        visibility: hidden;
      }
    </style>
  </head>
  <body>
    <!-- height: 100% seems to create full-height stuff, unfortunately breaks background at scroll point -->
    <div class="Outer" ng-controller="DemoCtrl as $ctrl" ng-app="MyApp" style="height: 100%">
      <header class="SubmissionHeader">
        <div class="HorizontalLayoutWrap">
          <div class="HorizontalLayoutWrap-item l-LargeColumnLayout-paddingH" layout="horizontal" flex="fill" justify-content="center" align-items="flex-end">
            <div class="l-mediumPageMaxWidth" layout="horizontal" justify-content="space-between" align-items="flex-end">
              <div class="SubmissionHeader-block SubmissionHeader-block--heading">
                <div class="SubmissionHeading">
                  <span class="SubmissionHeading-subtitle">Submission</span>
                  <h2 class="SubmissionHeading-main">Submission Name</h2>
                </div>
                <div class="SubmissionSupplementals">
                  <div class="SubmissionSupplementals-row">

                    <div class="SubmissionSupplementals-item">
                      <span class="SubmissionSupplementals-item-label">
                        ID #
                      </span>
                      <span class="SubmissionSupplementals-item-value">
                        HNF-RJTA-ZWXYB
                      </span>
                    </div>
  
                    <div class="SubmissionSupplementals-item SubmissionSupplementals-item--noPaddingV">
                      <div class="Chip Chip--small Chip--neutralBlue">
                        Revision 2
                      </div>
                    </div>
  
                    <div class="SubmissionSupplementals-item SubmissionSupplementals-item--noPaddingV" ng-if="userIsProcessor">
                      <div class="Chip Chip--small Chip--warning">
                        <span class="Chip-item Chip-icon">
                          <div class="SvgWrap SvgWrap--fillDimensions">
                            <svg class="SvgWrap-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                              y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                              <g>
                                <path d="M18.4,10.1V8.2c0-3.7-3-6.7-6.7-6.7c-3.7,0-6.7,3-6.7,6.7v1.9c-0.9,0.2-1.6,0.9-1.6,1.9v8.6c0,1.1,0.9,1.9,1.9,1.9h12.6
                                                            c1.1,0,1.9-0.9,1.9-1.9V12C20,11.1,19.3,10.3,18.4,10.1z M15.6,10.1H7.9V8.2c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8V10.1z" />
                              </g>
                            </svg>
                          </div>
                        </span>
                        <span class="Chip-item Chip-text">
                          Locked For Review
                        </span>
                      </div>
                    </div>
                
                  </div>

                  <div class="SubmissionSupplementals-row">
                    <div class="SubmissionSupplementals-item SubmissionSupplementals-item--noPaddingV">
                      <label><input type="checkbox" ng-model="userIsProcessor"> I am a Processor</label>
                    </div>
                  </div>
  
                </div>
              </div>
              <div class="SubmissionHeader-block">
                <div class="SubmissionSupplementals">
                  <div class="SubmissionSupplementals-row">
                    <div class="SubmissionSupplementals-item SubmissionSupplementals-item--noPaddingV">
                      <button class="SlabButton SlabButton--leftAligned SlabButton--primary">
                        <div class="SlabButton-icon">
                          <div class="SvgWrap SvgWrap--fillDimensions">
                            <svg class="SvgWrap-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
                              data-tags="printer,print">
                              <g transform="scale(0.03125 0.03125)">
                                <path d="M256 64h512v128h-512v-128z" />
                                <path d="M960 256h-896c-35.2 0-64 28.8-64 64v320c0 35.2 28.794 64 64 64h192v256h512v-256h192c35.2 0 64-28.8 64-64v-320c0-35.2-28.8-64-64-64zM128 448c-35.346 0-64-28.654-64-64s28.654-64 64-64 64 28.654 64 64-28.652 64-64 64zM704 896h-384v-320h384v320z" />
                              </g>
                            </svg>
                          </div>
                        </div>
                        <span class="SlabButton-mainText">
                          Print
                        </span>
                      </button>
                    </div>
                    <div class="SubmissionSupplementals-item SubmissionSupplementals-item--noPaddingV">
                      <button class="SlabButton SlabButton--leftAligned SlabButton--primary">
                        <div class="SlabButton-icon">
                          <div class="SvgWrap SvgWrap--fillDimensions">
                            <svg class="SvgWrap-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                              viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                              <g>
                                <g>
                                  <g>
                                    <g>
                                      <path d="M11,15.8c0.6,0.6,1.5,0.6,2.1,0l4.9-5c1.4-1.4-0.7-3.5-2.1-2.1l-1.7,1.7c-0.4,0.4-0.7,0.3-0.7-0.3V3.4
                                      c0-0.8-0.7-1.5-1.5-1.5l0,0c-0.8,0-1.5,0.7-1.5,1.5v6.7c0,0.5-0.3,0.7-0.7,0.3L8.2,8.7c-1.4-1.4-3.5,0.7-2.1,2.1L11,15.8z" />
                                    </g>
                                    <g>
                                      <path d="M19.4,19.6c0,0.3-0.2,0.5-0.5,0.5H5.1c-0.3,0-0.5-0.2-0.5-0.5v-2.9c0-0.8-0.7-1.5-1.5-1.5c-0.8,0-1.5,0.7-1.5,1.5V21
                                      c0,1.1,0.9,2,2,2h16.7c1.1,0,2-0.9,2-2v-4.4c0-0.8-0.7-1.5-1.5-1.5c-0.8,0-1.5,0.7-1.5,1.5V19.6z" />
                                    </g>
                                  </g>
                                </g>
                              </g>
                            </svg>
                          </div>
                        </div>
                        <span class="SlabButton-mainText">
                          Download
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="HorizontalLayoutWrap-item FloatedSidebar--widthMedium l-LargeColumnLayout-paddingH" layout="horizontal" flex="fill" align-items="flex-end">
            <div class="SubmissionHeader-block" flex="fill" layout="vertical" justify-content="flex-end">
              <div class="SlabButton SlabButton--primary SlabButton--leftAligned" ng-if="userIsProcessor">
                <span class="SlabButton-icon SlabButton-element">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <path d="M13.5,17.4c-0.1-0.1-0.1-0.1-0.1-0.1c0,0,0,0,0,0c-0.5-0.5-0.9-1.1-1.2-1.6C12.1,15.8,12,15.9,12,16l-0.9,3.2
                          c-0.1,0.4,0.1,0.6,0.5,0.4l3-1.1c0.1,0,0.2-0.1,0.3-0.2C14.2,18,13.7,17.6,13.5,17.4z" />
                        </g>
                        <g>
                          <path d="M13.2,14.4c0,0.2,0,0.8,1.2,1.9c0.2,0.2,1,0.9,1.5,0.9c0.1,0,0.2,0,0.3-0.1l5.5-5.5c0,0,0.1-0.1,0.1-0.1
                          c-0.7-0.3-1.2-0.8-1.4-1c-0.1-0.1-0.1-0.1-0.1-0.1c0,0,0,0,0,0c-0.6-0.6-1.1-1.2-1.3-1.8c0,0-0.1,0-0.1,0.1L13.2,14.4
                          C13.2,14.4,13.2,14.4,13.2,14.4z" />
                        </g>
                        <g>
                          <path d="M20.1,7.6c0,0.2,0,0.8,1.2,1.9c0.2,0.2,1,0.9,1.5,0.9c0.1,0,0.2,0,0.3-0.1l0.8-0.8C24,9.4,24,9.2,23.9,9l-2.4-2.4
                          c-0.1-0.1-0.3-0.1-0.5,0L20.1,7.6C20.1,7.5,20.1,7.6,20.1,7.6z" />
                        </g>
                      </g>
                      <g>
                        <path d="M17.1,17.7v3.4H3.6V2.8h7.8v4.6c0,0.5,0.4,0.9,0.9,0.9h4.8v0.9l1.8-1.7V7.4c0-0.5-0.2-1-0.6-1.3l-4.8-4.6
                        c-0.3-0.3-0.8-0.5-1.3-0.5H3.6c-1,0-1.8,0.8-1.8,1.8v18.3c0,1,0.8,1.8,1.8,1.8h13.5c1,0,1.8-0.8,1.8-1.8v-5.3L17.1,17.7z
                          M13.2,3.7l2.9,2.8h-2.9V3.7z" />
                      </g>
                    </g>
                  </svg>
                </span>
                <span class="SlabButton-mainText">Revise Submission</span>
              </div>
              <div class="SlabButtonCover SlabButtonCover--warning" ng-if="!userIsProcessor">
                <div class="SlabButtonCover-icon">
                  <div class="SvgWrap SvgWrap--fillDimensions">
                    <svg class="SvgWrap-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                      <g>
                        <path d="M18.4,10.1V8.2c0-3.7-3-6.7-6.7-6.7c-3.7,0-6.7,3-6.7,6.7v1.9c-0.9,0.2-1.6,0.9-1.6,1.9v8.6c0,1.1,0.9,1.9,1.9,1.9h12.6
                                c1.1,0,1.9-0.9,1.9-1.9V12C20,11.1,19.3,10.3,18.4,10.1z M15.6,10.1H7.9V8.2c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8V10.1z" />
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="SlabButtonCover-mainText">
                  <strong>Locked for Review</strong>
                  <div class="Text Text--small">Further revision is not permitted until processors have completed review of this submission.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- <div class="Banner">
        <div class="Banner-icon">
          <div class="SvgWrap SvgWrap--fillDimensions">
            <svg class="SvgWrap-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <g>
                <path d="M18.4,10.1V8.2c0-3.7-3-6.7-6.7-6.7c-3.7,0-6.7,3-6.7,6.7v1.9c-0.9,0.2-1.6,0.9-1.6,1.9v8.6c0,1.1,0.9,1.9,1.9,1.9h12.6
            		c1.1,0,1.9-0.9,1.9-1.9V12C20,11.1,19.3,10.3,18.4,10.1z M15.6,10.1H7.9V8.2c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8V10.1z" />
              </g>
            </svg>
          </div>
        </div>
        <div class="Banner-text">
          This submission is locked for review &mdash; It cannot be revised until processors have completed their review.
        </div>
      </div> -->
      <submission-tabs>
        <div class="HorizontalLayoutWrap">
          <div class="HorizontalLayoutWrap-item l-LargeColumnLayout-paddingH" flex="fill" layout="horizontal" justify-content="center">
            <div class="TabStrip-tabs l-mediumPageMaxWidth">
              <submission-tab name="overview" display-name="Overview"></submission-tab>
              <submission-tab name="forminput" display-name="Form Input"></submission-tab>
            </div>
          </div>
          <!-- Spacer -->
          <div class="HorizontalLayoutWrap-item FloatedSidebar--widthMedium l-LargeColumnLayout-paddingH"></div>
        </div>
      </submission-tabs>
      <div class="SubmissionBody" layout="vertical" style="flex: 1 0 auto;">
        <div class="HorizontalLayoutWrap fillHeight">
          <div class="HorizontalLayoutWrap-item l-LargeColumnLayout-paddingH" layout="horizontal" flex="fill" justify-content="center">
            <!-- SubmissionBody-column is for paddingTop -->
            <div class="l-mediumPageMaxWidth SubmissionBody-column"> 
              <div class="OverviewSection">
                <div class="OverviewSection-header">
                  <h3 class="OverviewSection-heading OverviewSection-header-item">
                    Details
                  </h3>
                  <div class="OverviewSection-header-item">
                    <button class="OverviewButton OverviewButton--small">View Confirmation</button>
                  </div>
                </div>
                <div class="OverviewSection-body OverviewSection-body--topPanel">
                  <div class="OverviewSection-body-item">
                    <div class="OverviewSection-frame OverviewSectionPaddingH">
                      <div class="OverviewMeta OverviewMeta--twoColumn">
                        <div class="OverviewMeta-row OverviewMeta-item">
                          <div class="OverviewMeta-item-label">Form Alias</div>
                          <div class="OverviewMeta-item-value">WWTP - Emissions - Stage 1</div>
                        </div>
                        <div class="OverviewMeta-row OverviewMeta-item">
                          <div class="OverviewMeta-item-label">Form Alias</div>
                          <div class="OverviewMeta-item-value">WWTP - Emissions - Stage 1</div>
                        </div>
                        <div class="OverviewMeta-row OverviewMeta-item">
                          <div class="OverviewMeta-item-label">Form Alias</div>
                          <div class="OverviewMeta-item-value">WWTP - Emissions - Stage 1</div>
                        </div>
                        <div class="OverviewMeta-row OverviewMeta-item">
                          <div class="OverviewMeta-item-label">Form Alias</div>
                          <div class="OverviewMeta-item-value">WWTP - Emissions - Stage 1</div>
                        </div>
                        <div class="OverviewMeta-row OverviewMeta-item">
                          <div class="OverviewMeta-item-label">Form Alias</div>
                          <div class="OverviewMeta-item-value">WWTP - Emissions - Stage 1</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <!-- Documents & Attachments -->

              <div class="OverviewSection">
                <div class="OverviewSection-header">
                  <h3 class="OverviewSection-heading OverviewSection-header-item">
                    Documents &amp; Attachments
                  </h3>
                  <div class="OverviewSection-header-item">
                    <button class="OverviewButton OverviewButton--small OverviewButton--addNew">
                      <span class="OverviewButton-icon">
                        <div class="SvgWrap SvgWrap--fillDimensions SvgWrap--stroke">
                          <svg class="SvgWrap-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve" fill="none">
                          <g>
                            <line x1="8" y1="4.9" x2="8" y2="11.1" />
                            <line x1="11.1" y1="8" x2="4.9" y2="8" />
                          </g>
                          <circle cx="8" cy="8" r="6.5" />
                          </svg>
                        </div>
                      </span>
                      <span class="OverviewButton-mainText">
                        Add New
                      </span>
                    </button>
                  </div>
                </div>
                <div class="OverviewSection-body">
                  <tabs-wrapper items="testItems" filters="filters" tabs="tabs" initial-active-tab="all" show-empty="false" show-count="true" show-only-unique="true">
                    <div class="OverviewSection-body-item">
                      <pill-tabs tabs="$parent.$ctrl.tabs" active-tab="$parent.$ctrl.activeTab" on-change="$parent.$ctrl.activateTab"
                        show-empty="false" tabs="$parent.$ctrl.tabs"></pill-tabs>
                    </div>
                    <div class="OverviewSection-body-item" ng-if="!$parent.$ctrl.items || !$parent.$ctrl.items.length">
                      <div class="FlatListEmptyPlaceholder FlatListEmptyPlaceholder--small">
                        None
                      </div>
                    </div>
                    <div class="WhitePanel" ng-if="$parent.$ctrl.items.length">
                      <ul class="FlatList FlatList--small">
                        <li class="FlatList-item UtilityItemsPaddingH" ng-repeat="item in $parent.$parent.$ctrl.currentlyFilteredItems">
                          <div class="FlatList-item-split">
                            <div class="FlatList-item-split-child FlatList-item-split-child--fill">
                              <div class="FlatList-item-icon FlatList-item-segment"></div>
                              <div class="FlatList-item-title FlatList-item-segment">
                                {{item.name}}
                              </div>
                              <div class="FlatList-item-chip FlatList-item-segment">
                                <div class="Chip Chip--smaller" ng-class="{'Chip--neutralBlue': item.isGenerated, 'Chip--gray': !item.isGenerated}">
                                  {{item.isGenerated ? 'System-generated' : 'Added by Processor'}}
                                </div>
                              </div>
                            </div>
                            <div class="FlatList-item-split-child">
                              <div class="FlatList-item-title FlatList-item-segment">
                                {{item.name}}
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </tabs-wrapper>
              
                </div>
              </div>

                <!-- Processing Steps -->

                <div class="Overview-section">
                  <div class="OverviewSection-header">
                    <h3 class="OverviewSection-heading OverviewSection-header-item">
                      Processing Steps
                    </h3>
                  </div>
                </div>
                <div class="OverviewSection-body">
                  <div class="OverviewSection-body-item OverviewSection-body-item--flushTop">
                    <div class="OverviewSection-frame">
                      
                      <!-- <div ng-if="!$ctrl.loading &amp;&amp; $ctrl.workflow" class="ng-scope"> -->
                      <button class="LinkBlock LinkBlock--centered">
                        <div class="LinkBlock-element LinkBlock-icon">
                          X
                        </div>
                        <div class="LinkBlock-element LinkBlock-title">
                          1 step completed
                        </div>
                      </button>
                      <div class="BoxFrame">
                        <div class="BoxFrame-header BoxFrame-header--centered">
                          <div class="BoxFrame-header-subtitle">
                            Current Step
                          </div>
                          <div class="BoxFrame-header-title">
                            <h4 class="u-headingInherit">Step 6 of 9</h4>
                          </div>
                        </div>
                        <div class="BoxFrame-content">
                          <div class="CardRow CardRow--medium">
                            <div class="Card Card--medium Card--linked">
                              <div class="StepHeader StepHeader--split">
                                <div class="StepHeader-number">
                                  6A
                                </div>
                                <div class="StepHeader-title">
                                  Elit et voluptate in excepteur adipisicing laborum consequat excepteur ullamco fugiat ut magna ipsum
                                </div>
                              </div>
                              <div class="Card-content-item Card-content-item--alignRight">
                                <div class="SplitContent SplitContent--small">
                                  <div class="SplitContent-item">
                                    <div class="Chip Chip--green">
                                      Completed
                                    </div>
                                  </div>
                                  <div class="SplitContent-item">
                                    11/28/2018
                                  </div>
                                </div>
                              </div>
                              <div class="Card-content-item Card-content-item--alignRight">
                                <a href="" class="UsernameLink">
                                  <div class="UsernameLink-icon">
                                    X
                                  </div>
                                  <div class="UsernameLink-text">
                                    Andrew Pomeroy
                                  </div>
                                </div>
                              </a>
                            </div>
                            <div class="Card Card--medium Card--linked">
                              <div class="StepHeader StepHeader--split">
                                <div class="StepHeader-number">
                                  6B
                                </div>
                                <div class="StepHeader-title">
                                  Occaecat magna commodo sit minim officia voluptate cillum irure commodo
                                </div>
                              </div>
                              <div class="Card-content-item Card-content-item--alignRight">
                                <div class="SplitContent SplitContent--small">
                                  <div class="SplitContent-item">
                                    <div class="Chip Chip--green">
                                      Completed
                                    </div>
                                  </div>
                                  <div class="SplitContent-item">
                                    11/28/2018
                                  </div>
                                </div>
                              </div>
                              <div class="Card-content-item Card-content-item--alignRight">
                                <a href="" class="UsernameLink">
                                  <div class="UsernameLink-icon">
                                    X
                                  </div>
                                  <div class="UsernameLink-text">
                                    Andrew Pomeroy
                                  </div>
                                </div>
                              </a>
                            </div>
                            <div class="Card Card--medium Card--linked">
                              <div class="StepHeader StepHeader--split">
                                <div class="StepHeader-number">
                                  6A
                                </div>
                                <div class="StepHeader-title">
                                  Ullamco incididunt deserunt officia enim velit incididunt proident ad esse
                                </div>
                              </div>
                              <div class="Card-content-item Card-content-item--alignRight">
                                <div class="SplitContent SplitContent--small">
                                  <div class="SplitContent-item">
                                    <div class="Chip Chip--green">
                                      Completed
                                    </div>
                                  </div>
                                  <div class="SplitContent-item">
                                    11/28/2018
                                  </div>
                                </div>
                              </div>
                              <div class="Card-content-item Card-content-item--alignRight">
                                <a href="" class="UsernameLink">
                                  <div class="UsernameLink-icon">
                                    X
                                  </div>
                                  <div class="UsernameLink-text">
                                    Andrew Pomeroy
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Processing Steps (raw markup) -->

                <div class="Overview-section" style="display: none;">
                  <div class="OverviewSection-header">
                    <h3 class="OverviewSection-heading OverviewSection-header-item">
                      Processing Steps
                    </h3>
                  </div>
                </div>
                <div class="OverviewSection-body">
                  <div class="OverviewSection-body-item">
                    <div class="OverViewSection-frame" ng-class="{'OverviewSectionPaddingH':$ctrl.offsetPaddedH}">
                      <!-- ngIf: !$ctrl.loading && $ctrl.workflow -->
                      <div ng-if="!$ctrl.loading &amp;&amp; $ctrl.workflow" class="ng-scope">
                        <div>
                          <!-- ngIf: !$ctrl.workflow.isCompleted -->
                          <h4 ng-if="!$ctrl.workflow.isCompleted" ng-bind="($ctrl.workflow.completedStepsCount || 'No') + ' Step' + ($ctrl.workflow.completedStepsCount != 1 ? 's' :'') +  ' Completed'"
                            class="ng-binding ng-scope">1 Step Completed</h4><!-- end ngIf: !$ctrl.workflow.isCompleted -->
                          <!-- ngIf: $ctrl.workflow.isCompleted -->
                        </div>
                        <div>
                          <h4 ng-bind="'Current Step ' + ($ctrl.currentLevel.sortOrder + 1) + ' of  ' + $ctrl.levels.length" class="ng-binding">Current
                            Step 2 of 5</h4>
                          <wnd-field-row class="ng-isolate-scope">
                            <div class="FieldBlock-row">
                              <!-- ngRepeat: step in $ctrl.currentLevel.data.steps -->
                              <wnd-field wnd-property="data.step.0" wnd-label="Fee Processed" hide-label="true" ng-repeat="step in $ctrl.currentLevel.data.steps"
                                class="ng-scope ng-isolate-scope wnd-field">
                                <div class="Field Field--is-valid  Field--" ng-class="[{'Field--is-error': !$ctrl.wndProperty.isValid &amp;&amp; $ctrl.wndProperty.isActivated, 'Field--is-required': $ctrl.wndProperty.isRequired, 'Field--is-validating': $ctrl.wndProperty.isValidating, 'Field--is-valid': $ctrl.wndProperty.isValid, 'Field--autoWidth': $ctrl.autoWidth, 'Field--is-readOnly': $ctrl.wndProperty.wndReadOnly.isReadOnly}, '', 'Field--']">
                                  <!-- ngIf: !$ctrl.hideLabel -->
                                  <div class="Field-inputContainer" id="transclude-target">
                                    <div ng-bind="step.name" class="ng-binding ng-scope">Fee Processed</div>
                                    <!-- ngIf: step.data.completed -->
                                    <!-- ngIf: step.data.assignedUser -->
                                  </div>
                                </div>
                              </wnd-field><!-- end ngRepeat: step in $ctrl.currentLevel.data.steps -->
                            </div>
                          </wnd-field-row>
                        </div>
                        <div>
                          <h4 ng-bind="($ctrl.workflow.remainingStepsCount || 'No') +  ' Step' + ($ctrl.workflow.remainingStepsCount !=1 ? 's' :'')+ ' Upcoming'"
                            class="ng-binding">3 Steps Upcoming</h4>
                        </div>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
          <!-- Sidebar -->
          <div class="HorizontalLayoutWrap-item u-FloatedSidebar-style FloatedSidebar--widthMedium l-LargeColumnLayout-paddingH">
            <!-- SubmissionBody-column is for paddingTop -->
            <div class="SubmissionBody-column">
              <div class="OverviewSection">
                <div class="OverviewSection-header OverviewSection-header--noSeparator">
                  <div class="OverviewSection-header-split">
                    <h3 class="OverviewSection-heading OverviewSection-header-item">
                      Status
                    </h3>
                    <div class="OverviewSection-header-item">
                      <div class="Chip Chip--small Chip--neutralBlue">
                        In Process
                      </div>
                    </div>
                  </div>
                </div>
                <div class="OverviewSection-body">
                  <div class="OverviewActionButtonColumn">
                    <div class="SlabButton">
                      <!--                 <div class="SlabButton-icon SlabButton-element"></div> -->
                      <div class="SlabButton-mainText">View Status History</div>
                    </div>
                    <div class="SlabButton">
                      <!--                 <div class="SlabButton-icon SlabButton-element"></div> -->
                      <div class="SlabButton-mainText">View Status History</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="OverviewSection">
                <div class="OverviewSection-header OverviewSection-header--noSeparator">
                  <div class="OverviewSection-header-split">
                    <h3 class="OverviewSection-heading OverviewSection-header-item">
                      Issues
                    </h3>
                    <div class="OverviewSection-header-item">
                    </div>
                  </div>
                </div>
                <div class="OverviewSection-body">
                  <div class="Pillbox">
                    <div class="Pillbox-header Pillbox-header--correctionRequest">
                      <h4 class="Pillbox-heading">
                        1 Open Correction Request
                      </h4>
                    </div>
                    <div class="Pillbox-body">
                      <div class="Pillbox-body-item">
                        <p class="Text Text--small Text--onlyInnerMargins">
                          A processor has requested a correction on one or more areas of your submission. In order to have your submission processed,
                          you must address the following issues and resubmit:
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="OverviewSection">
                <div class="OverviewSection-header">
                  <div class="OverviewSection-header-split">
                    <h3 class="OverviewSection-heading OverviewSection-header-item">
                      Fees
                    </h3>
                    <div class="OverviewSection-header-item">
                    </div>
                  </div>
                </div>
                <div class="OverviewSection-body">
                  <div class="OverviewSection-body-item">
                    <div class="Text">
                      Standard Permit Fee
                    </div>
                    <div class="TextSplit">
                      <div class="Text Text--bold">$110.00</div>
                      <div class="Chip Chip--smaller Chip--green">Paid</div>
                    </div>
                  </div>
                  <div class="OverviewSection-body-item">
                    <div class="OverviewActionButtonColumn">
                      <div class="SlabButton">
                        <!--                 <div class="SlabButton-icon SlabButton-element"></div> -->
                        <div class="SlabButton-mainText">View Payment Voucher</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="OverviewSection">
                <div class="OverviewSection-body">
                  <div class="OverviewSection-body-item">
                    <collapse-container>
                      <collapse-container-heading>
                        2 closed correction requests
                      </collapse-container-heading>
                      <collapse-container-content>
                        <div class="Slab Slab--shadowed Slab--correction">
                        <div class="Slab-headerGroup  u-undoLinkStyles Slab-headerGroup-innerPadChildren Slab-headerGroup--clickable">
                            <div class="Slab-headingIconWrap Slab-headingIconWrap--primaryColor">
                              <div class="SvgWrap SvgWrap--fillDimensions">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
                                  width="18px" height="18px" viewBox="2 2 18 18" enable-background="new 2 2 18 18" xml:space="preserve" class="injected-svg SvgWrap-icon svg-inject"
                                  data-src="static-assets/lib/svg/warning.svg!" focusable="false">
                                  <g>
                                    <g>
                                      <path d="M11,2c-4.971,0-9,4.029-9,9s4.029,9,9,9s9-4.029,9-9S15.971,2,11,2z M12.482,15.909c0,0.641-0.524,1.163-1.164,1.163    H10.86c-0.639,0-1.161-0.522-1.161-1.163v-0.46c0-0.638,0.521-1.16,1.161-1.16h0.458c0.64,0,1.164,0.522,1.164,1.16V15.909z     M12.149,12.346c0,0.628-0.389,1.146-0.859,1.146h-0.403c-0.472,0-0.857-0.518-0.857-1.146L9.5,6.217    c0-0.708,0.579-1.288,1.287-1.288h0.604c0.708,0,1.288,0.581,1.288,1.288L12.149,12.346z"></path>
                                    </g>
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div class="Slab-titleGroup flex" flex="fill">
                              <div class="Slab-subtitle">
                                All Optional Controls
                              </div>
                              <div class="Slab-title">This is a Correction Request title</div>
                            </div>
                          </div>
                        </div>
                      </collapse-container-content>
                    </collapse-container>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
    
    <script type="text/javascript" src="/bundle.js"></script>
    
  </body>
</html>