$Chip-paddingV: .2em;
$Chip-paddingH: .4em;

$Chip-weight: 500;

$Chip-fontSize-normal: 14px;
$Chip-fontSize-small: 12px;
$Chip-fontSize-smaller: 10px;

$Chip-color-default: rgba(white, .9);

$Chip-letterSpacing: .045em;
$Chip-borderRadius: 3px;

.Chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: $Chip-fontSize-normal;
  font-weight: $Chip-weight;
  padding: $Chip-paddingV $Chip-paddingH;
  letter-spacing: $Chip-letterSpacing;
  border-radius: $Chip-borderRadius;
  background-color: gray;
  color: $Chip-color-default;
}
.Chip--small {
  font-size: $Chip-fontSize-small;
}
.Chip--smaller {
  font-size: $Chip-fontSize-smaller;
}

.Chip--neutralBlue {
  background-color: $app-color-neutralBlue;
}
.Chip--green {
  background-color: $app-color-neutralGreen;
}