* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
}
body, input, button, select, textarea {
  // font-family: "DIN Next LT Pro";
  font-family: "Fakt Pro";
  // font-family: "Open Sans";
  // font-family: "Source Sans Pro";
  // font-family: "Lato";
}

// -- something -- //

html {
  min-height: 100%;
}
html, body {
  display: flex;
  flex-direction: column;
  flex: 1;
  // min-height: 100%;
}
body {
  flex-direction: row;
}
.Outer {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-height: 100%;
}
body {
  color: #004257;
}
.flexHeight {
  display: flex;
  flex-direction: column;
}
.fillHeight {
  flex: 1;
}