$inlineEdit-transition: 80ms linear; 
$inlineEdit-padding: 4px;

// Hack selector for IE only -- lets us fix the IE-specific layout issue
@media screen and (min-width:0\0) {
    inline-edit {
        display: flex; 
    }
}
.InlineEditWrap {
    // undo button styles
    border: 0;
    background: none;
    font-family: inherit;
    padding: 0;
    // resume normal styles
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    // margin: -$inlineEdit-padding;
    // padding: $inlineEdit-padding;
    cursor: pointer;
    outline: 1px solid transparent;
    outline-offset: 4px;
    &:not(.InlineEditWrap--is-editing) {
        &:hover, &:focus {
            outline: 1px solid $color-lightblue-highlight;
            .InlineEdit-icon {
                opacity: 1;
            }
        }
    }
    transition: $inlineEdit-transition;
    transition-property: outline;
}
.InlineEditWrap--is-editing {
    // padding: 0; // Let the input provide its own padding
}
.InlineEdit-element--is-hidden {
    visibility: hidden;
    pointer-events: none;
}
.InlineEdit-icon {
    opacity: 0;
    flex: 0 0 auto;
    width: 1em;
    height: 1em;
    margin-left: .5em;
    color: $color-lightblue-highlight;
    transition: $inlineEdit-transition;
    transition-property: opacity;
    .SvgWrap-icon {
        fill: currentColor; // ??
    }
    .InlineEditWrap--is-editing & {
        display: none;
    }
}
.InlineEditWrap-inputContainer {
    margin: 0;
    padding: 0;
    .md-errors-spacer {
        display: none;
    }
}
.InlineEdit-input {
    position: absolute;
    margin-left: -$inlineEdit-padding;
    margin-top: -$inlineEdit-padding;
    padding: $inlineEdit-padding;
    width: calc(100% + #{$inlineEdit-padding});
    min-width: 16em;
}