@mixin linkStyle-base {
  color: $color-electricBlue;
  font-weight: 600;
  text-decoration: none;
  transition: 60ms linear;
}
@mixin linkStyle-hover {
  color: lighten($color-electricBlue, 10%);
}
@mixin linkStyle-active {
  color: darken($color-electricBlue, 10%);
}

@mixin linkStyle {
  @include linkStyle-base;
  &:hover, &:focus {
    @include linkStyle-hover;
  }
  &:active {
    @include linkStyle-active;
  }
}
