.OverviewMeta {
  
}
.OverviewMeta-row, .OverviewMeta-item {
  // display: flex;
}
.OverviewMeta--twoColumn {
  display: table;
  width: 100%;
  .OverviewMeta-row {
    display: table-row;
  }
  .OverviewMeta-item-label, .OverviewMeta-item-value {
    display: table-cell;
  }
  .OverviewMeta-item-label {
    max-width: 18em;
  }
  .OverviewMeta-item-valueGroup-item {
    display: block;
  }
}

.OverviewMeta-item-label {
  font-size: $CommonMeta-label-size;
  font-weight: $CommonMeta-label-weight;
  color: $CommonMeta-label-color;
  text-transform: uppercase;
  letter-spacing: $CommonMeta-label-letterSpacing;
}
.OverviewMeta-item-value {
  font-size: $CommonMeta-value-size;
  color: $CommonMeta-value-color;
  font-weight: $CommonMeta-value-weight;
}
.OverviewMeta-item-label, .OverviewMeta-item-value {
  padding-top: .25em;
  padding-bottom: .5em;
}
.OverviewMeta-item-valueGroup-item {
  padding-bottom: .25em;
}


// .OverviewMeta-item-valueGroup {
// }
// .OverviewMeta-item-valueGroup-item {
// }
