$OverviewButton-paddingV: .66em;
$OverviewButton-paddingH: 1.125em;

$OverviewButton-bgColor-default: #61b4d1;  //TODO: Config
$OverviewButton-color-default: #004257; //TODO: Config

// $OverviewButton-fontSize-default: 14px;
$OverviewButton-fontSize-default: 14px;
$OverviewButton-fontSize-small: 12px;

.OverviewButton {
  border: 0;
  padding: $OverviewButton-paddingV $OverviewButton-paddingH;
  background: $OverviewButton-bgColor-default;
  color: $OverviewButton-color-default;
  border-radius: 3px;
  font-size: $OverviewButton-fontSize-default;
  font-weight: 500;
  cursor: pointer;
  &:hover, &:focus {
    background-color: lighten($OverviewButton-bgColor-default, 10%);
    color: lighten($OverviewButton-color-default, 10%);
    outline: 0;
    box-shadow: none;
  }
  &:active {
    background-color: darken($OverviewButton-bgColor-default, 10%);
    color: darken($OverviewButton-color-default, 10%);
  }
}
.OverviewButton--small {
  font-size: $OverviewButton-fontSize-small;
}

.OverviewButton--green {
  background-color: $app-color-brightGreen;
  color: rgba(0,0,0,.65);
}

.OverviewActionButtonColumn {
  display: flex;
  flex-direction: column;
  > *:not(:last-child) {
    margin-bottom: 4px;
  }
}