.LinkBlock {
    display: flex;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    width: 100%;
    padding: .5em;
}

.LinkBlock--centered {
    justify-content: center;
}

.BoxFrame {
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.BoxFrame-header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.BoxFrame-header--centered {
    align-items: center;
}

.BoxFrame-content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.CardRow {
    display: flex;
}

.Card {
    border-radius: 5px;
    background: white;
    border: 1px solid gainsboro;
}

.Card--medium {
    padding: 1rem 1.25rem;
}

.StepHeader--split {
    display: flex;
}

.StepHeader--split > *:not(:last-child) {
    margin-right: 1em;
}

.StepHeader-number {
    min-width: 2em;
    background: gainsboro;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    align-items: center;
    min-height: 2em;
    border-radius: 999px;
}

.Card-content-item--alignRight {
    align-self: flex-end;
}

.Card {
    display: flex;
    flex-direction: column;
}

.UsernameLink {
    display: flex;
}

.SplitContent {
    display: flex;
    align-items: center;
}

.SplitContent--small > *:not(:last-child) {
    margin-right: .5rem;
}

.UsernameLink-icon {
    margin-right: .5em;
}

.UsernameLink {
    color: blue;
    text-decoration: none;
    font-weight: 600;
}

.Card-content-item:not(:first-child) {
    margin-top: .5rem;
}

.CardRow.CardRow--medium {
    padding-left: .25rem;
    padding-right: .25rem;
    margin-right: -.25em;
    margin-left: -.25em;
}

.CardRow > .Card {
    margin-right: .25em;
    margin-left: .25em;
    flex: 1;
}

.Card .StepHeader {
    flex: 1;
}

.OverviewSection-body-item--flushTop {
    padding-top: 0;
}

.Card--medium {
    /* font-size: 12px; */
}