$color-electricBlue: #146be6;

$app-color-highlightBlue: $color-electricBlue;

.SubmissionHeader {
    background-color: #242f40;
}

// buttons

.OverviewButton, .SlabButton {
    border: 2px solid currentColor;
    color: $app-color-highlightBlue;
    background: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    &:hover, &:focus {
      background-color: $app-color-highlightBlue;
      color: white;
      border-color: $app-color-highlightBlue;
    }
    &:active {
      background-color: $app-color-highlightBlue;
      
    }
    
    transition: 70ms linear;
    transition-property: color, border-color, background-color;
}

.SlabButton {
    min-height: 64px;
    padding: .25em 1.5em;
    box-shadow: none;

    // margin-bottom: 10px; // no
    & + & {
      margin-top: 10px; // no
  }
}

.SlabButton-icon {
    height: 1.75em;
    width: 1.75em;
    margin-right: 1em;
}

.SlabButton-icon--faded {
    opacity: 1;
}


.OverviewButton--primary, .SlabButton--primary {
    background-color: $app-color-highlightBlue;
    color: white;
    border-color: $app-color-highlightBlue;
}

.OverviewButton--primary, .SlabButton--primary:hover, .OverviewButton--primary, .SlabButton--primary:focus {
    background-color: white;
    border-color: white;
    color: $app-color-highlightBlue;
}

// Body style


.SubmissionBody {
    background-color: #f7f7fc;
}





// New stuff




.HorizontalLayoutWrap {
  display: flex;
  flex-direction: column; // undone w media query at min width
}
.HorizontalLayoutWrap--mixed {

}
.HorizontalLayoutWrap-item {

}
.HorizontalLayoutWrap-item--padded {
}

.l-LargeColumnLayout-paddingH {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 800px) { // TODO: config
  .HorizontalLayoutWrap {
    flex-direction: row;
  }

  .l-LargeColumnLayout-paddingH {
    padding-left: 40px;
    padding-right: 40px;
  }
  .l-LargeColumnLayout-paddingRight {
    padding-right: 40px;
  }
  .l-LargeColumnLayout-paddingLeft {
    padding-left: 40px;
  }
  
  .FloatedSidebar--widthMedium {
    max-width: 380px;
  }
}

.CenterContentWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.l-mediumPageMaxWidth {
  flex: 0 1 1040px;
}

.FloatedSidebar {

}
// .CenterColumnWrap-column--aside {
.u-FloatedSidebar-style {
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0,0,0,.13);
}
.FloatedSidebar--widthMedium {
  width: 100%;
  min-width: 18rem;
}