.Text--small {
  font-size: 12px;
}
.Text--bold {
  font-weight: 600;
}
p.Text--onlyInnerMargins {
  &:first-child,
  :not(p) + & {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.TextSplit {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  > *:not(:last-child) {
    margin-right: .5em;
  }
}
